.formkit-input {
    @apply py-2.5 bg-[#07072f] appearance-none focus:ring-1 block w-full h-full pl-5 pr-20 sm:text-sm focus:ring-indigo-600 ring-1 border border-gray-400 rounded-lg;
}

.formkit-message {
    @apply mt-1;
}

[data-invalid] .formkit-input {
    @apply border-red-500 border rounded-lg outline-none ring-0;
}

.invalid .formkit-input {
    @apply border-red-500 border rounded-lg outline-none ring-0 focus:ring-0;
}

.search-outer {
    width: 100%;
    position: relative;
}

.formkit-inner {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formkit-message {
    @apply text-sm text-red-500;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.invalid {
    /* @apply border-red-500 border rounded-lg outline-none ring-0 focus:ring-0;*/
}

.child-select {
    top: 30px;
    @apply ring-0 focus:ring-0;
}

input[type='search'] {
    @apply border-none ring-0 ring-offset-transparent rounded-none !important;
}

input[type='search']::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
}

.search-input::placeholder {
    @apply text-indigo-300 !important;
}
