body {
  @apply bg-indigo-950 text-white;
}

main#appMain {
  @apply relative;
}

.scroll {
  scroll-behavior: smooth;
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

#__nuxt .hyperlink {
  @apply text-teal-700 underline underline-offset-2;
}

#__nuxt {
  @apply relative min-h-screen pb-10;
}

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ec4b99;
  border: 0px none white;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ec4b99;
}
::-webkit-scrollbar-thumb:active {
  background: #ec4b99;
}
::-webkit-scrollbar-track {
  background: white;
  border: 0px none white;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: white;
}
::-webkit-scrollbar-track:active {
  background: white;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  OpenSans-VariableFont_wdth,
  wght @font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: local(""), url("/assets/OpenSans.ttf") format("truetype"), format("ttf");
  }
}
a {
  color: var(--color-primary);
}
